# =====================================================
# AIRFLOW
# =====================================================

AIRFLOW_UID=50000

# =====================================================
# AIRFLOW ADMIN USER (UI - para ingresar a localhost:8080)
# =====================================================

AIRFLOW_ADMIN_USER=adminSabin
AIRFLOW_ADMIN_PASSWORD=your_password_here
AIRFLOW_ADMIN_EMAIL=your_email@example.com

# =====================================================
# AIRFLOW METADATA DATABASE
# =====================================================

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

# =====================================================
# DATA WAREHOUSE
# =====================================================

DWH_USER=dwh_user
DWH_PASSWORD=dwh_password
DWH_DATABASE=datawarehouse

# =====================================================
# PIPELINE VARIABLES
# =====================================================

DATA_DIR=/opt/airflow/data

BATCH_SIZE=5000

UNKNOWN_CUSTOMER_ID=-1

DEFAULT_CATEGORY=UNCLASSIFIED

DUPLICATE_STRATEGY=composite_key